@use "./partials/variables.scss" as *;

body {
  background-color: $light_color;
  color: $dark_color;
}

ul li{
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


// main *************************************

main{
//  app card setting *******


}



// footer ***********************************
footer{
  background-color: $dark_color;
  color: $light_color;
    .copyright-banner{
      background-color: $light_color;
      color: $dark_color;
    }
}
