$main_color: #879a9d;
$dark_accent_color: #78595f;
$light_accent_color: #907160;
$lighter_accent_color: #b68f7a;
$light_color: #f2f0ed;
$dark_color: #303646;

// Utility
$danger_color: #f44336;
$warning_color: #b7aa48;
$success_color: #3aba80;
//
$primary_color: #0073aa;
$secondary_color: #11d5f1;
