$color_main: #11d5f1;
$color_dark_accent: #b4a5f8;
$color_light_accent: #0073aa;
$color_light_shade: #efe4c8;
$color_dark_shade: #222026;

// Aggiunta per testi in grigio
$color_danger: #f44336;
$color_warning: #b7aa48;
$color_succes: #3aba80;
$color_prymary: #0073aa;
$color_secondary: #11d5f1;
