$main_color: #11d5f1;
$dark_accent_color: #b4a5f8;
$light_accent_color_: #0073aa;
$light_color: #efe4c8;
$dark_color: #222026;

// Utility
$danger_color: #f44336;
$warning_color: #b7aa48;
$success_color: #3aba80;
//
$primary_color: #0073aa;
$secondary_color: #11d5f1;
